youme_voice_engine/bindings/cocos2d-x/java/bin
youme_voice_engine/bindings/cocos2d-x/java/gen
youme_voice_engine/bindings/cocos2d-x/java/local.properties
youme_voice_engine/libs
.DS_Store
xcuserdata/
.vscode/
SDKTest/androidExternalInput/app/libs
.gradle
.idea
SDKTest/androidSampleNew/build
SDKTest/androidSampleNew/local.properties
SDKTest/unity/YMTalk/Assets/Plugins/Android/libs
__
youme_voice_engine/obj
SDKTest/cocos/YouMeVideoDemo/proj.android/libs
SDKTest/cocos/YouMeVideoDemo/youme_voice_engine/lib
SDKTest/android_full/app/libs
SDKTest/androidSampleNew/app/libs
SDKTest/cocos/YouMeVideoDemo/youme_voice_engine/lib
SDKTest/iOSExternalInput/SDK
youme_voice_engine/bindings/cocos2d-x/java/.idea
youme_voice_engine/bindings/cocos2d-x/java/build
youme_voice_engine/bindings/cocos2d-x/java/java.iml
youme_voice_engine/xcode/YouMeVoiceEngine/build
SDKTest/cocos/YouMeVideoDemo/proj.android-studio/app/libs
SDKTest/cocos/YouMeVideoTest-lua/frameworks/runtime-src/proj.android/libs
SDKTest/cocos/YouMeVideoTest-lua/frameworks/runtime-src/proj.android-studio/app/libs
SDKTest/iosSample/SDK
SDKTest/cocos/YouMeVideoDemo/youme_voice_engine/lib/android
SDKTest/cocos/YouMeVideoDemo/youme_voice_engine/lib/ios
SDKTest/cocos/YouMeVideoTest-js/frameworks/runtime-src/youme_voice_engine
SDKTest/cocos/YouMeVideoTest-js/frameworks/runtime-src/youme_voice_engine/lib
SDKTest/cocos/YouMeVideoTest-lua/frameworks/runtime-src/youme_voice_engine
SDKTest/cocos/YouMeVideoTest-js/frameworks/runtime-src/proj.android/libs
SDKTest/cocos/YouMeVideoTest-js/frameworks/runtime-src/proj.android-studio/app/libs
SDKTest/unity/YMTalk/Assets/Plugins/iOS/*.a
SDKTest/unity/YMTalk/Assets/Plugins/Android/
youme_voice_engine/bindings/cocos2d-x/java/.idea
SDKTest/androidSampleNew/app/libs
SDKTest/androidSampleNew/app/app.iml
.project
.settings/
.classpath
SDKTest/cocos/YouMeVideoDemo/youme_voice_engine/include
app/build
SDKTest/android/app/build
SDKTest/android/app/libs
SDKTest/ios/SDK
SDKTest/android/build
SDKTest/android/local.properties

/SDKTest/iosTalkBeautify/SDK/libs
/SDKTest/iosTalkBeautify/Podfile.lock
/SDKTest/YMVideoMeeting.zip
/SDKTest/YMVideoMeeting/build
cmake/2013*
cmake/bin
cmake/lib
youme_voice_engine/bindings/cocos2d-x/java/youme_voice_engine.iml
cmake/2017_Win32_MT_debug
cmake/2017_Win64_unreal
cmake/2015_Win64
cmake/linux
